<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create New Chat Form</title>
</head>
<body>
    <h2>Write New Chat...</h2>
    <form action="/chats" method="POST">
        <input type="text" name="from" placeholder="who are u">
        <br><br>
        <textarea name="msg" id="" cols="15" rows="5">Write ur msg here</textarea>
        <br><br>
        <input type="text" name="to" placeholder="add reciver">
        <br><br>
        <button>Create Chat</button>
        <br><br>
    </form>
</body>
</html>