<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Data To backend!</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="Enter Ur Name!" name="username">
        <br><br>
        <textarea name="content" id="" cols="18" rows="10" placeholder="Enter Ur Content!"></textarea>
        <br><br>
        <button>Submit</button>
    </form>
</body>
</html>